/**
 * Lazysizes CSS API
 * @link https://github.com/aFarkas/lazysizes#css-api
 */
.lazyload,
.lazyloading {
  @apply opacity-0;
}

.lazyloaded {
  @apply opacity-100 transition-opacity duration-500 ease-in;
}
